<%= form_with(model: list, local: true)do |f| %>
    <div class="form-group">
        <%= f.text_field :name, class: 'form-control form-control-sm'%>
        <div class="text-right mt-3">
            <%= f.submit '追加' , class: 'btn btn-success btn-sm clr_sub_b clr_font_c clr_font_bd' %>
        </div>
    </div>
<%end%>