<!-- 登録したものすべてを表示するぱーしゃる -->
<%= content_tag(:div , '' , class:'col-3 p-0 clr_sub_b',id: 'list_col') do%>

    <!-- リスト名 -->
    <%= content_tag(:div, '',class:'card m-2',style:'width:95%;border-color:'+@theme.clr_font ) do%>
        <div class="row no-gutters">
            <div class="col-md-1">
                <%= content_tag(:div, '', class: 'w-100 h-100 clr_list_ii_b')%>
            </div>
            
            <div class="col-md-11">
                <div class="card-body mx-auto">
                    <h1 style="font-size:20px">すべて</h1>
                </div>
            </div>
        </div>
    <%end%>

    <!-- 検索のやつ -->

    <!-- 中身 -->
    <div class="mt-3" id="list-card" style="display:flex;overflow-y:auto;height:85%">
        <div class="mx-auto p-1" style="width:95%;" id="target">
        
            <% @things.each do |tng| %>
                <% @clr = @theme.clr_list_ii %>
                <%= render 'things/things' , tng: tng %>
            <%end%>
        
        </div>
    </div>
<%end%>