<% lists.each do |list|%>
<div class="col-3 p-0" id="list_col" style="background-color:beige;border-left: 1px solid">
    
    
    <div class="no_"+<%= list.id %>+"_list">
    <!-- リスト名 -->
    <div class="card bg-light m-2" style="width:95%">
        <div class="row no-gutters">
            <div class="col-md-1"><div style="background-color:#89c997;width:100%;height:100%"></div></div>
            
            <div class="col-md-11">
                <div class="card-body mx-auto">
                    <h1 style="font-size:20px"><%= list.name%></h1>
                </div>
            </div>
        </div>
    </div>




    <!-- 中身 -->
    <div class="" id="list-card" style="display:flex;overflow-y:auto;">
        <div class="mx-auto p-1" style="width:95%;">
            <%= render 'things/things' , things: @things , list_id: list.id %>
        </div>
    </div>
    
</div>
</div>
<% end %>

<style>
    #list-card{
        margin-top: auto;
        margin-bottom: auto;
        height: 84vh;
    }   
</style>
