<% things.each do |tng| %>
    <%if list_id == tng.list_id then%>
        <% (tng.quantity).times do %>
            <div class="card mb-2">
                
                
                <div class="row no-gutters">
                    <div class="col-md-1"><div style="background-color:#89c997;width:100%;height:100%"></div></div>
                
                
                    <div class="col-md-11">
                <div class="card-body">
                        <a style="text-align:left">
                            <%= tng.content %>
                        
                            <% @tag_name = Tag.all.find(tng.tag_id).name%>
                            <a class="text-muted"><%= "#"+ @tag_name %></a>
                            <% num = (tng.deadline-Date.today).to_i %>
                        </a>
                        <a class="text-right" style="float:right">
                            <%if num > 0 %>
                                あと<%= num %>日　
                            <% elsif num == 0 %>
                                本日　
                            <%else%>
                                <%= num.abs %>日経過　
                            <%end%>
                        <i class="fas fa-pen"></i>

                        </a>
                </div>
                </div></div>
                
                
                
                
                
            </div>
        <%end%>
    <%end%>
<%end%>

