<% things.each do |tng| %>
    <%if list_id == tng.list_id then%>
        <% (tng.quantity).times do %>
            <div class="card mb-2">
                
                
                <div class="row no-gutters">
                    
                    <div class="col-md-1" style="background-color:pink">
                        <div class="card-body px-0">
                            <div class="m-auto text-center">
                                <i class="fas fa-check fa-xs"></i>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-11">
                    <div class="card-body">
                        <a style="text-align:left">
                            <%= tng.content %>
                        
                            <% @tag_name = Tag.all.find(tng.tag_id).name%>
                            <a class="text-muted" style="font-size:14px"><%= "#"+ @tag_name %></a>
                            <% num = (tng.deadline-Date.today).to_i %>
                        </a>
                        <div class="text-right" style="float:right;">
                            
                            <a style="font-size:14px">
                            <%if num > 0 %>
                                あと <%= num %>日　
                            <% elsif num == 0 %>
                                
                            <%else%>
                                <%= num.abs %>日 経過　
                            <%end%>
                            </a>
                            <i class="fas fa-pen"></i>
                        </div>
                </div>
                </div></div>
                
                
                
                
                
            </div>
        <%end%>
    <%end%>
<%end%>