<div class="row align-items-center top" style="background-color:#e6e6e6;">
    <div class="col-lg-7 col-12 top-img"></div>
    <div class="top-text">
            <div class="align-items-center">
                <h1>冷蔵庫タスク</h1>
                <p>整理整頓しよう!</p>
                <p>※背景にイラストor写真</p>
            </div>
    </div>
    
    <div class="col-lg-3 col-12 offset-lg-1" style="color:white">
            <div class="align-items-center">
                <a class="btn btn-success btn-block">ログイン</a>
                <a class="btn btn-success btn-block">会員登録</a>
            </div>
    </div>
</div>