<div class="card mt-2">
    <div class="card-body">
        <%= form_with(model: tag, local: true)do |f| %>
        <div class="form-group">
                <%= f.text_field :name, class: 'form-control'%>
                <%= f.submit '追加' , class: 'btn btn-success ml-2' %>
        
        </div>
        <%end%>
     </div>
</div> 