@media screen and(min-width: 768px){
}
@media screen and(min-width: 1024px){
}

body{
    overflow-y: hidden;
}

.top{
    height: 100vh;
}

.top-img{
    position: relative;
    background-color: #82d9d9;
    width: 70%;
    height: 70%;
}
.top-text{
    position: absolute;
    bottom: 25%;
    right: 3%;
    text-align: center;
}

/*スクロールバー*/



// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


