<div class="row load-flag w-100" style="margin:0;height:95vh;position:absolute;z-index:1">
    <div class="col-12 clr_sub_b">
        <div class="loader clr_main_c" style="top:30%">Now Loading...</div>
    </div>
</div>