<% if user_signed_in? %>
    <%cache current_user.updated_at.to_s do%>
        <header>
            <nav>
                <h1 class="user_name">
                    <%= current_user.name %>さんの冷蔵庫
                </h1>
                <div id="help_btn" class="clr_sub_c btn help-btn" data-toggle="modal" data-target="#help_modal">
                    <i class="fas fa-question-circle fa-lg"></i>
                </div>
            </nav>
        </header>
    <%end%>
<%end%>
<%= render 'layouts/help'%>